<!DOCTYPE html
	PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<h:body>
	<h:form>
		<h3>Cadastro de Animal</h3>
		<br />
		<h:messages />

		<h:panelGrid columns="2">
			<h:outputLabel value="Nome: " for="nome" />
			<h:inputText id="nome" label="Nome" value="#{animalBean.animalSelecionado.nome}" maxlength="50"
				required="true" requiredMessage="Digite o nome do animal">
				<f:validateLength minimum="2" maximum="50" />
			</h:inputText>

			<h:outputLabel value="Idade: " for="idade" />
			<h:inputText id="idade" label="Idade" value="#{animalBean.animalSelecionado.idade}" />

			<h:outputLabel value="Data de Cadastro: " for="data" />
			<h:inputText id="data" label="Data de Cadastro" value="#{animalBean.animalSelecionado.data}">
				<f:convertDateTime dateStyle="medium" />
			</h:inputText>

			<h:outputLabel value="Local: " for="local" />
			<h:inputTextarea id="local" label="Local" value="#{animalBean.animalSelecionado.local}" rows="4"
				cols="17" />

			<h:outputLabel value="Raça: " for="raca" />
			<h:inputTextarea id="raca" label="Raça" value="#{animalBean.animalSelecionado.raca}" rows="4" cols="17" />

			<h:outputLabel value="Cor: " for="cor" />
			<h:inputTextarea id="cor" label="Cor" value="#{animalBean.animalSelecionado.raca}" rows="4" cols="17" />

			<h:outputLabel value="Gereno: " for="genero" />
			<h:inputTextarea id="genero" label="Gereno" value="#{animalBean.animalSelecionado.raca}" rows="4" cols="17" />

			<h:outputLabel value="Situacao: " for="situacao" />
			<h:inputText id="situacao" label="Situacao" value="#{animalBean.animalSelecionado.situacao}"
				maxlength="1" />
			
		</h:panelGrid>
		<br />
		<h:commandButton value="Salvar" action="#{animalBean.salvar()}" />
		<h:commandButton value="Cancelar" action="#{animalBean.cancelar()}" immediate="true" />
	</h:form>
</h:body>

</html>