<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">

<h:head>
	<title>Index</title>
</h:head>

<h:body>
	<h:form>
      	<h3>Index</h3>
      	<br/>
        <h:commandButton value="Cadastro de Animals" action="listagem?faces-redirect=true" />        
	</h:form>
</h:body>
</html>
