<!-- Importação das taglibs que serão utilizadas -->
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">

<h:head>
	<!-- Título para a página -->
	<title>Lista de Animals</title>
</h:head>

<h:body>
	<h:form>
		<!-- Exibe em tamanho grande no início da página que esta é a listagem de animals -->
		<h3>Lista de Animals</h3>
		
		<!-- É usado ao longo do arquivo para identar os componentes, para que esses fiquem um abaixo do outro e não ao lado  -->
		<br />
		
		<!-- Botão que chama o método inserir do AnimalBean, responsável por navegar para a página de cadastro -->
		<h:commandButton value="Inserir" action="#{animalBean.inserir()}" />
		<br />
		
		<h:dataTable var="registro" 
					 value="#{animalBean.lista}"
					 style="width: 700px">
					 
			<h:column headerText="Id" 
					  style="width: 100px">
				<h:outputText value="#{registro.id}" />
			</h:column>
			
			<h:column headerText="Nome" 
					  style="width: 200px">
				<h:outputText value="#{registro.nome}" />
			</h:column>
			
			<h:column headerText="Idade" 
					  style="width: 150px">
				<h:outputText value="#{registro.idade}">
					<f:convertNumber pattern="#0" />
				</h:outputText>
			</h:column>

			<h:column headerText="Local" style="width: 100px">
				<h:outputText value="#{registro.local}" />
			</h:column>	

			<h:column headerText="Data de cadastro" style="width: 100px">
				<h:outputText value="#{registro.data}" />
			</h:column>

			<h:column headerText="Raça" style="width: 100px">
				<h:outputText value="#{registro.raca}" />
			</h:column>	

			<h:column headerText="Cor" style="width: 100px">
				<h:outputText value="#{registro.cor}" />
			</h:column>	
			<h:column headerText="Genero" style="width: 100px">
				<h:outputText value="#{registro.genero}" />
			</h:column>	
			<h:column headerText="Situacao" style="width: 100px">
				<h:outputText value="#{registro.situacao}" />
			</h:column>	
			<h:column headerText="Ações" 
					  style="width: 50px">
					  
				<h:commandLink value="Editar" 
							   action="#{animalBean.editar()}">
					<f:setPropertyActionListener value="#{registro}"
												 target="#{animalBean.animalSelecionado}" />
				</h:commandLink>
				
				<!-- Exibe um espaço entre os dois links, só para melhor o visual, em uma aplicação real deve ser usado css para resolver esse tipo de problema -->
				<h:outputLabel value=" "/>
				
				<h:commandLink value="Deletar" 
							   action="#{animalBean.deletar()}">
					<f:setPropertyActionListener value="#{registro}"
												 target="#{animalBean.animalSelecionado}" />
				</h:commandLink>
				
			</h:column>
		</h:dataTable>
		
		<br />
		<h:commandLink value="Voltar para Index"
					   action="index?faces-redirect=true" />
	</h:form>
</h:body>
</html>
